<div class="panel-body">
  <div class="row">
    <%= form_for @retaurant, url: {action: "create"} do |f| %>
        <div class="col-lg-6">
          <div class="form-group">
            <label>Tên cửa hàng</label>
            <%= f.text_field :name, :required => true, class: "form-control"%>
          </div>
          <div class="form-group">
            <label>Mô tả</label>
            <%= f.text_area :description,:required => true, class: "form-control"%>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label>Thành phố</label>
                <%= select_tag 'restaurant[city]', options_for_select(@city) , class: "form-control"%>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label>Quận</label>
                <%= select_tag 'restaurant[area_id]', options_for_select(@area) , class: "form-control"%>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Địa chỉ</label>
            <%= f.text_field :address,:required => true, class: "form-control", placeholder: "Số 22 Tạ Quang Bửu"%>
          </div>
          <div class="form-group">
            <label for="">Loại hình</label>
            <%= f.select :category_id, @categories, {},{class: "form-control"}%>
          </div>
          <div class="form-group">
            <label>Thời gian mở cửa</label>
            <%= f.text_field :open_time,:required => true, class: "form-control", placeholder: "08:00 ~ 23:00"%>
          </div>
          <div class="form-group">
            <label>Số điện thoại</label>
            <%= f.telephone_field :phone, class: "form-control", placeholder: "0912345685"%>
          </div>
          <div class="form-group">
            <label for="">Image</label>
            <%= f.file_field :picture,:required => true, accept: "image/jpeg, image/gif, image/png, image/jpg" %>
          </div>

        </div>
        <div class="col-lg-6">
          <h2>Menu</h2>
          <div id="menu-food">
            <%= render 'add_food'%>
          </div>
          <a href="#" id="add_food">Thêm </a>đồ
        </div>
        <div class="col-lg-12">
          <%= f.submit "Tạo mới", class: "btn btn-primary"%>
        </div>
    <% end %>

  </div>
  <!-- /.row (nested) -->
</div>
<div id="init-fd" style="display: none">
  <div class="food-init">
    <div class="row">
      <div class="col-lg-12">
        <div class="form-group">
          <label>Tên đồ</label>
          <%= text_field_tag 'food[][name]', '', class: "form-control", :required => true%>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="form-group">
          <label>Picture</label>
          <%= file_field_tag 'food[][picture]', :required => true%>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="form-group">
          <label>Giá</label>
          <%= number_field_tag 'food[][price]','', class: "form-control", :required => true%>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
    $(document).ready(function () {
       $("#add_food").on("click", function(e) {
           $('#menu-food').append($('#init-fd').html());
           console.log($('#init-fd').html());
           e.preventDefault();
       });
    });
</script>