<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Restaurants</h1>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <a href="<%= new_admin_restaurant_path %>" class="btn btn-primary">Tạo mới</a>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
          <tr>
            <th>Id</th>
            <th>Tên cửa hàng</th>
            <th>Địa chỉ</th>
            <th>Loại hình</th>
            <th>Giờ mở</th>
            <th>Số ĐT</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <% @restaurants.each do |res|%>
              <tr>
                <td><%= res.id %></td>
                <td><%= res.name %></td>
                <td><%= res.address + ", " + res.area.district%></td>
                <td><%= res.category.name%></td>
                <td><%= res.open_time %></td>
                <td><%= res.phone %></td>
                <td><a href="<%= edit_admin_restaurant_path(res) %>">Edit</a></td>
              </tr>
          <% end %>
          <%= will_paginate @restaurants, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
          </tbody>
        </table>
        <%= will_paginate @restaurants, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
      </div>
    </div>
  </div>

</div>