<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Restaurant</h1>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        Thêm mới Restaurant
      </div>
      <div class="panel-body">
        <div class="row">
          <%= form_for @retaurant, url: {action: "create"} do |f| %>
              <div class="col-lg-6">
                <div class="form-group">
                  <label>Tên cửa hàng</label>
                  <%= f.text_field :name, class: "form-control"%>
                </div>
                <div class="form-group">
                  <label>Mô tả</label>
                  <%= f.text_area :description, class: "form-control"%>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>Thành phố</label>
                      <%= select_tag 'restaurant[city]', options_for_select(@city) , class: "form-control"%>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>Quận</label>
                      <%= select_tag 'restaurant[area_id]', options_for_select(@area) , class: "form-control"%>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label>Địa chỉ</label>
                  <%= f.text_field :address, class: "form-control", placeholder: "Số 22 Tạ Quang Bửu"%>
                </div>

              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label>Thời gian mở cửa</label>
                  <%= f.text_field :open_time, class: "form-control", placeholder: "08:00 ~ 23:00"%>
                </div>
                <div class="form-group">
                  <label>Số điện thoại</label>
                  <%= f.telephone_field :phone, class: "form-control", placeholder: "0912345685"%>
                </div>
                <div class="form-group">
                  <label for="">Image</label>
                  <%= f.file_field :picture, accept: "image/jpeg, image/gif, image/png, image/jpg" %>
                </div>
              </div>
              <div class="col-lg-12">
                <%= f.submit "Tạo mới", class: "btn btn-primary"%>
              </div>
          <% end %>

        </div>
        <!-- /.row (nested) -->
      </div>
      <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
  </div>
  <!-- /.col-lg-12 -->
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#restaurant_picture").bind("change", function(){
            var size_in_megabytes = this.files(0).size/1024/1024;
            if (size_in_megabytes > 1) {
                alert("Maximum file size is 1MB. Please choose an other file!");
            }
        });
    });
</script>