<div>
  <div class="swiper-container">
    <div class="swiper-wrapper">

      <div class="swiper-slide">
        <a href="/images/reserve-slide2.jpg" class="grid image-link">
          <img src="/images/reserve-slide2.jpg" class="img-fluid" alt="#">
        </a>
      </div>
      <div class="swiper-slide">
        <a href="/images/reserve-slide1.jpg" class="grid image-link">
          <img src="/images/reserve-slide1.jpg" class="img-fluid" alt="#">
        </a>
      </div>
      <div class="swiper-slide">
        <a href="/images/reserve-slide3.jpg" class="grid image-link">
          <img src="/images/reserve-slide3.jpg" class="img-fluid" alt="#">
        </a>
      </div>
      <div class="swiper-slide">
        <a href="/images/reserve-slide1.jpg" class="grid image-link">
          <img src="/images/reserve-slide1.jpg" class="img-fluid" alt="#">
        </a>
      </div>
      <div class="swiper-slide">
        <a href="/images/reserve-slide2.jpg" class="grid image-link">
          <img src="/images/reserve-slide2.jpg" class="img-fluid" alt="#">
        </a>
      </div>
      <div class="swiper-slide">
        <a href="/images/reserve-slide3.jpg" class="grid image-link">
          <img src="/images/reserve-slide3.jpg" class="img-fluid" alt="#">
        </a>
      </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination swiper-pagination-white"></div>
    <!-- Add Arrows -->
    <div class="swiper-button-next swiper-button-white"></div>
    <div class="swiper-button-prev swiper-button-white"></div>
  </div>
</div>

<section class="reserve-block">
  <div class="container">
    <div class="row">
      <div class="col-12" style="text-align: center">
        <h2 class="yummy-logo">Yummy</h2>
      </div>
    </div>
  </div>
</section>

<section class="light-bg booking-details_wrap">
  <div class="container">
    <div class="row recommendation mb-4">
      <div class="col-sm-12 re-header p-2">
        <div class="row">
          <div class="col-sm-6 re-title">
            <b>Gợi ý cho bạn</b>
          </div>
          <div class="col-sm-6"></div>
        </div>
      </div>
      <div class="col-sm-12 pt-2">
        <div class="row">
          <% @recommend_res.each do |restaurant| %>
              <%= render partial: "add_restaurant", locals: {restaurant: restaurant} %>
          <% end %>
        </div>
      </div>

    </div>
    <div class="row list mt-4">
      <div class="col-sm-12 yummy-toolbar">
        <div class="ym-clearbox" style="top: 0">
          <ul>
            <li><a id="load-new" href="#" class="current" data-url="<%= load_new_restaurants_path%>">Mới nhất</a></li>
            <% if current_user %>
              <li><a id="load-follow" href="#" data-url="<%= load_follow_restaurants_path %>">Đã lưu</a></li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="col-sm-12 pt-2">
        <div class="row" id="list_res">
            <% @restaurants.each do |restaurant|%>
              <%= render partial: "add_restaurant", locals: {restaurant: restaurant} %>
            <% end %>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <a id="load-page" href="#" class="btn-more" data-page="2" data-url="<%= load_new_restaurants_url %>">
              Xem thêm...
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
<div id="tab-footer-top-friend-user">
  <ul class="container home-tab">
    <li>
      <a href="#">Top Thành Viên</a>
    </li>
  </ul>
  <div id="tab-footer-top-user" class="container" style="display: block">
    <div id="footer-down-app-wrap">
      <div class="footer-down-app">
        <div class="footer-friends">
          <% @top_users.each do |user|%>
              <div class="items">
                <div class="footer-friends-data">
                  <a href="#">
                    <div style="position: relative">
                      <% if user.provider == "facebook"%>
                          <img class="" src="<%= user.image? ? user.image : '/img/user.png' %>" atl="<%= user.name%>" title="<%= user.name%>">
                      <% else %>
                          <img src="<%= user.image? ? user.image.url : '/img/user.png' %>" atl="<%= user.name%>" title="<%= user.name%>">
                      <% end %>
                    </div>
                    <div class="user-name">
                      <%= user.name %>
                    </div>
                  </a>
                </div>
              </div>
          <% end %>
        </div>
      </div>

    </div>

  </div>
</div>