<section class="light-bg booking-details_wrap">
  <div class="container">
    <div class="row bg-white">
      <div class="col-sm-5 p-0">
        <img src="<%= @restaurant.picture.url if @restaurant.picture? %>" class="img-fluid" alt="#">
      </div>
      <div class="detail col-sm-7 pl-5 pt-4">
        <h1><%= @restaurant.name %></h1>
        <div class="category-items row col-12">
          <a href="#"><%= @restaurant.category.name %></a>
        </div>
        <div class="res-rate row col-12">
          <p>
            <i class="fa fa-star fa-2x"></i>
            <i class="fa fa-star fa-2x"></i>
            <i class="fa fa-star fa-2x"></i>
            <i class="fa fa-star fa-2x"></i>
            <i class="fa fa-star-o fa-2x"></i>
          </p>
        </div>
        <div class="row col-12 res-address">
          <span class="fa fa-location-arrow pr-1"></span>
          <span><%= @restaurant.address + ", " + @restaurant.area.district%></span>
        </div>
        <div class="row col-12 res-address pt-1">
          <span class="fa fa-clock-o pr-1"></span>
          <span><%= @restaurant.open_time%></span>
        </div>
        <div class="row col-12 res-address pt-1">
          <span class="fa fa-phone pr-1"></span>
          <span><%= @restaurant.phone%></span>
        </div>
      </div>
    </div>
  </div>
</section>