<section class="light-bg booking-details_wrap">
  <div class="container">
    <div class="row bg-white">
      <div class="col-sm-5 p-0">
        <img src="<%= @restaurant.picture.url if @restaurant.picture? %>" class="img-fluid" alt="#">
      </div>
      <div class="detail col-sm-7 pl-5 pt-4">
        <h1><%= @restaurant.name %></h1>
        <div class="category-items row col-12">
          <a href="#"><%= @restaurant.category.name %></a>
        </div>
        <div class="res-rate row col-12">
          <p>
            <i class="fa fa-star fa-2x"></i>
            <i class="fa fa-star fa-2x"></i>
            <i class="fa fa-star fa-2x"></i>
            <i class="fa fa-star fa-2x"></i>
            <i class="fa fa-star-o fa-2x"></i>
          </p>
        </div>
        <div class="row col-12 res-address">
          <span class="fa fa-location-arrow pr-1"></span>
          <span><%= @restaurant.address + ", " + @restaurant.area.district %></span>
        </div>
        <div class="row col-12 res-address pt-1">
          <span class="fa fa-clock-o pr-1"></span>
          <span><%= @restaurant.open_time %></span>
        </div>
        <div class="row col-12 res-address pt-1">
          <span class="fa fa-phone pr-1"></span>
          <span><%= @restaurant.phone %></span>
        </div>
      </div>
    </div>
  </div>

  <div class="container pt-3">
    <div class="row fd-list mb-4">
      <div class="col-sm-12 re-header p-2">
        <div class="row">
          <div class="col-sm-6 re-title">
            <b>Menu</b>
          </div>
          <div class="col-sm-6"></div>
        </div>
      </div>
      <% @restaurant.foods.each do |food| %>
          <div class="col-6">
            <div class="row fd-item">
              <div class="col-4 p-0 fd-item-1">
                <img src="<%= food.picture.url if food.picture? %>" class="img-fluid img-food" alt="#">
              </div>
              <div class="col-8 fd-detail fd-item-1">
                <p><%= food.name %></p>
                <p><%= number_to_currency(food.price, unit: "VND", format: "%n %u", precision: 0) %></p>
              </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-8 answer">
        <div class="row pl-2">
          <div class="review-user fd-clearbox">
            <div class="re-avatar">
              <a href="#" class="ru-avatar">
                <img src="<%= @restaurant.picture.url if @restaurant.picture? %>"/>
              </a>
            </div>
          </div>
          <div class="user-prof">
            <div class="re-rate">
              <p>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
              </p>
            </div>
            <div class="ru-row">
              <a href="#" class="ru-name">
                Nguyen NAm VAn
              </a>
            </div>
            <div class="ru-stats">
              <span>21/5/2019 21:03</span>
            </div>
          </div>
        </div>
        <div class="re-des fd-clearbox">
          <div class="re-detail-des">
            <span>
              Hôm mình đến mới khai trương nên xếp hàng dài cực dài luôn. Vị trí siêu trung tâm mà to bự, khả năng lúc nào cũng luôn đông thật sự
              Hôm mình đến mới khai trương nên xếp hàng dài cực dài luôn. Vị trí siêu trung tâm mà to bự, khả năng lúc nào cũng luôn đông thật sự
              Hôm mình đến mới khai trương nên xếp hàng dài cực dài luôn. Vị trí siêu trung tâm mà to bự, khả năng lúc nào cũng luôn đông thật sự
              Hôm mình đến mới khai trương nên xếp hàng dài cực dài luôn. Vị trí siêu trung tâm mà to bự, khả năng lúc nào cũng luôn đông thật sự
            </span>
          </div>
        </div>
        <div class="re-photo">
          <div class="item-photo">
            <img src="<%= @restaurant.picture.url if @restaurant.picture? %>" alt="">

          </div>

        </div>
        <div class="re-photo">
          <div class="item-photo">
            <img src="<%= @restaurant.picture.url if @restaurant.picture? %>" alt="">

          </div>

        </div>
        <div class="re-photo">
          <div class="item-photo">
            <img src="<%= @restaurant.picture.url if @restaurant.picture? %>" alt="">

          </div>

        </div>
        <div class="re-photo">
          <div class="item-photo">
            <img src="<%= @restaurant.picture.url if @restaurant.picture? %>" alt="">

          </div>

        </div>
        <div class="re-photo">
          <div class="item-photo">
            <img src="<%= @restaurant.picture.url if @restaurant.picture? %>" alt="">
          </div>
        </div>

        <div>
          <div class="review-comment fd-clearbox">
            <div class="fc-toolbar">
              <div class="icon-comment">
                <a href="#">
                  <i class="fa fa-comment"></i>
                  Thảo luận
                </a>
              </div>
            </div>

            <div class="fc-comment">
              <div class="fdi-comm">
                <img src="<%= @restaurant.picture.url if @restaurant.picture? %>" alt="">
                <div class="fdi-comm-right">
                  <a href="#" class="fc-username"><b>Nam Nguyen</b></a>
                  <span>fdhsjfh djfkdjf
                  fdlfkldkfd
                  fdlkfldkf lkfldkf dfkdlkfd fldflks fldkl;fkd fk;ldsk;f dsfk;sdl;fd f;lf'd fdls;fl ef</span>
                </div>
              </div>
              <div class="fdi-comm">
                <img src="<%= @restaurant.picture.url if @restaurant.picture? %>" alt="">
                <div class="fdi-comm-right">
                  <a href="#" class="fc-username"><b>Nam Nguyen</b></a>
                  <span>fdhsjfh djfkdjf
                  fdlfkldkfd
                  fdlkfldkf</span>
                </div>
              </div>
              <div class="fdi-comm">
                <img src="<%= @restaurant.picture.url if @restaurant.picture? %>" alt="">
                <div class="fdi-comm-right">
                  <a href="#" class="fc-username"><b>Nam Nguyen</b></a>
                  <span>fdhsjfh djfkdjf
                  fdlfkldkfd
                  fdlkfldkf</span>
                </div>
              </div>
              <div class="fdi-comm">
                <img src="<%= @restaurant.picture.url if @restaurant.picture? %>" alt="">
                <div class="fdi-comm-right">
                  <a href="#" class="fc-username"><b>Nam Nguyen</b></a>
                  <span>fdhsjfh djfkdjf
                  fdlfkldkfd
                  fdlkfldkf</span>
                </div>
              </div>
              <div class="rv-items">
                <a href="#" class="form-cmm">
                  <img src="<%= @restaurant.picture.url if @restaurant.picture? %>" alt="">
                </a>
                <div class="fc-input">
                  <%= text_area_tag 'comment' %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="stats col-4">
        <div class="foody-toolbar">
          <div class="microsite-sumary-new" style="top: 0">
            <div class="microsite-box-rating-new">
              <div class="ratings-boxes">
                <div class="summary">
                  <b>16</b> bình luận
                </div>
                <div class="ratings">
                  <p>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                  </p>
                </div>
              </div>
              <div class="ratings-boxes-review">
                <a href="#" data-toggle="modal" data-target="#myModal">Viết bình luận</a>
              </div>

            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</section>

<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h6 class="modal-title">Bình luận</h6>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body">
        <form action="">
          <div class="vote-star">
            <p>
              <i class="fa fa-star-o fa-2x"></i>
              <i class="fa fa-star-o fa-2x"></i>
              <i class="fa fa-star-o fa-2x"></i>
              <i class="fa fa-star-o fa-2x"></i>
              <i class="fa fa-star-o fa-2x"></i>
            </p>
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1"><b>Nội dung đánh giá</b></label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
          </div>
        </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Đánh giá</button>
      </div>

    </div>
  </div>
</div>