<section class="light-bg booking-details_wrap">
  <div class="container">
    <div class="row bg-white descriptions">
      <div class="col-sm-5 p-0">
        <img src="<%= @restaurant.picture.url if @restaurant.picture? %>" class="img-fluid" alt="#">
      </div>
      <div class="detail col-sm-7 pl-5 pt-4">
        <h1><%= @restaurant.name %></h1>
        <div class="category-items row col-12">
          <a href="#"><%= @restaurant.category.name %></a>
        </div>
        <div class="res-rate row col-12">
          <p>
            <% (1..5).each do |number| %>
                <% star = @restaurant.number_star >= number ? 'fa-star' : 'fa-star-o'%>
                <i class="fa fa-2x <%= star %>"></i>
            <% end %>
          </p>
        </div>
        <div class="row col-12 res-address">
          <span class="fa fa-location-arrow pr-1"></span>
          <span><%= @address %></span>
        </div>
        <div class="row col-12 res-address pt-1">
          <span class="fa fa-clock-o pr-1"></span>
          <span><%= @restaurant.open_time %></span>
        </div>
        <div class="row col-12 res-address pt-1">
          <span class="fa fa-phone pr-1"></span>
          <span><%= @restaurant.phone %></span>
        </div>
      </div>
    </div>
  </div>
  <div class="container pt-3">
    <div class="row fd-list mb-4">
      <div class="col-sm-12 re-header p-2">
        <div class="row">
          <div class="col-sm-6 re-title">
            <b>Menu</b>
          </div>
          <div class="col-sm-6"></div>
        </div>
      </div>
      <% @restaurant.foods.each do |food| %>
          <div class="col-6">
            <div class="row fd-item">
              <div class="col-4 p-0 fd-item-1">
                <img src="<%= food.picture.url if food.picture? %>" class="img-fluid img-food" alt="#">
              </div>
              <div class="col-8 fd-detail fd-item-1">
                <p><%= food.name %></p>
                <p><%= number_to_currency(food.price, unit: "VND", format: "%n %u", precision: 0) %></p>
              </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-8 list-reviews">
        <%if @reviews.blank? %>
        <div class="col-12 mt-3" style="text-align: center">
          <h6>Chưa có đánh giá nào</h6>
        </div>
        <% end %>
        <% @reviews.each do |review|%>
          <div id="review_<%= review.id %>" class="row answer">
            <div class="col-12 pl-2 profile-u">
              <div class="review-user fd-clearbox">
                <div class="re-avatar">
                  <a href="<%= user_path(review.user)%>" class="ru-avatar">
                    <img src="<%=review.user.image? ? review.user.image.url : '/img/user.png' %>"/>
                  </a>
                </div>
              </div>
              <div class="user-prof">
                <div class="re-rate">
                  <p>
                    <% (1..5).each do |number| %>
                        <% star = review.evaluation.star.to_i >= number ? 'fa-star' : 'fa-star-o'%>
                        <i class="fa <%= star %>"></i>
                    <% end %>
                  </p>
                </div>
                <div class="ru-row">
                  <a href="<%= user_path(review.user)%>" class="ru-name">
                    <%= review.user.name %>
                  </a>
                </div>
                <div class="ru-stats">
                  <span><%= review.created_at.strftime("%d/%m/%Y")%></span>
                </div>
                <% if current_user.present? && current_user.id == review.user_id %>
                  <div class="review-change">
                    <span class="review-destroy" data-id="<%= review.id %>" data-url="<%= review_path(review) %>" style="float: right"><i class="fa fa-times"></i></span>
                    <a href="#" data-toggle="modal" data-target="#editModal"><i class="fa fa-pencil"></i></a>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="re-des fd-clearbox">
              <div class="re-detail-des">
              <span>
               <%= review.content %>
              </span>
              </div>
            </div>
            <div class="col-12">
              <% review.images.each do |file|%>
                  <div class="re-photo">
                    <div class="item-photo">
                      <img src="<%= file.picture.url if file.picture? %>" alt="">
                    </div>
                  </div>
              <% end %>
            </div>
            <div class="col-12 pt-3">
              <div class="review-comment fd-clearbox">
                <% unless current_user %>
                  <div class="fc-toolbar">
                    <div class="icon-comment">
                      <a href="<%= new_user_session_path %>">
                        <i class="fa fa-comment"></i>
                        Thảo luận
                      </a>
                    </div>
                  </div>
                <% end %>

                <div class="fc-comment">
                  <div id="comments_<%= review.id %>">
                    <% review.comments.each do |comment| %>
                        <div class="fdi-comm" id="comment_<%= comment.id %>">
                          <img src="<%= comment.user.image? ? comment.user.image.url : '/img/user.png' %>" alt="">
                          <div class="fdi-comm-right">
                            <a href="<%= user_path(comment.user)%>" class="fc-username"><b><%= comment.user.name %></b></a>
                            <span><%= comment.content %></span>
                            <% if current_user == comment.user %>
                              <a class="remove-comment-btn" href="<%= comment_path(comment.id)%>" data-id="<%= comment.id %>">
                                <span class="fa fa-times"></span>
                              </a>
                            <% end %>
                          </div>
                        </div>
                        <hr>
                    <% end %>
                  </div>
                  <% if current_user %>
                    <div class="rv-items">
                      <a href="#" class="form-cmm">
                        <img src="<%= current_user.image? ? current_user.image.url : '/img/user.png' %>" alt="">
                      </a>
                      <div class="fc-input">
                        <textarea class="form-control comment" rows="1"
                                  data-review="<%= review.id %>" data-url="<%= comments_path %>"></textarea>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>

        <% end %>
      </div>
      <div class="stats col-4">
        <div class="foody-toolbar">
          <div class="microsite-sumary-new" style="top: 0">
            <div class="microsite-box-rating-new">
              <div class="ratings-boxes">
                <div class="summary">
                  <b><%= @restaurant.reviews.size %></b> bình luận
                </div>
                <div class="ratings">
                  <p>
                    <% (1..5).each do |number| %>
                        <% star = @restaurant.number_star >= number ? 'fa-star' : 'fa-star-o'%>
                        <i class="fa <%= star %>"></i>
                    <% end %>
                  </p>
                </div>
              </div>

              <div class="ratings-boxes-review">
                <% if current_user.blank? %>
                    <a href="<%= new_user_session_path%>" >Viết bình luận</a>
                <% elsif current_user && current_user.reviews.where(restaurant_id: @restaurant.id).blank? %>
                    <a href="#" data-toggle="modal" data-target="#myModal">Viết bình luận</a>
                <% end %>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container mt-5" style="background-color: #ddd">
    <div id="map-restaurant" style="width: 100%; height: 400px">

    </div>
  </div>
</section>
<% if @review_user %>
    <div class="modal" id="editModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h6 class="modal-title">Sửa Đánh Giá</h6>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <%= form_for(@review_user, url: review_path(@review_user), html: {method: 'put'}) do |f|%>
              <%= hidden_field_tag :url, request.original_url %>
              <%= f.hidden_field :restaurant_id, value: @restaurant.id %>
              <%= hidden_field_tag :images_edit, ""%>
              <%= hidden_field_tag :images_add, ""%>
              <div class="modal-body">
                <div class="vote-star">
                  <% numb_star = @review_user.evaluation.star %>
                  <% (1..5).each do |number| %>
                      <% star = numb_star >= number ? "fa-star" : "fa-star-o"%>
                      <i id="star_<%= number %>" class="vote fa fa-2x <%= star %>"></i>
                  <% end %>
                  <%= hidden_field_tag 'rate', numb_star %>
                </div>
                <div class="form-group">
                  <label for="exampleFormControlTextarea1"><b>Nội dung đánh giá</b></label>
                  <%= f.text_area :content,:required => true, rows: 6, class: "form-control"%>
                </div>
                <div class="form-group">
                  <%= f.fields_for :images do |p|%>
                      <label for=""><b>Ảnh</b></label>
                      <%= p.file_field :picture, multiple: true, accept: "image/jpeg, image/gif, image/png, image/jpg" %>
                  <% end %>
                </div>
                <div class="container-fluid">
                  <div id="list-img" class="row">
                    <% @review_user.images.each do |image|%>
                      <div class="col-3 form-img" id="image_<%= image.id %>">
                        <img src="<%= image.picture.url if image.picture? %>" class="form-image" alt="#">
                        <div class="form-overlay">
                          <a href="#" class="form-icon delete-img" data-img="<%= image.id %>">
                            <i class="fa fa-times"></i>
                          </a>
                        </div>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
              <!-- Modal footer -->
              <div class="modal-footer">
                <%= f.submit "Đánh giá", class: "btn btn-primary"%>
              </div>
          <% end %>
        </div>
      </div>
    </div>
<% else %>
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h6 class="modal-title">Bình luận</h6>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <%= form_for(@review, url: reviews_path, html: {method: 'post'}) do |f|%>
            <%= hidden_field_tag :url, request.original_url %>
            <%= f.hidden_field :restaurant_id, value: @restaurant.id %>
            <div class="modal-body">
              <div class="vote-star">
                <% (1..5).each do |number| %>
                    <i id="star_<%= number %>" class="vote fa fa-star-o fa-2x"></i>
                <% end %>
                <%= hidden_field_tag 'rate', '' %>
              </div>
              <div class="form-group">
                <label for="exampleFormControlTextarea1"><b>Nội dung đánh giá</b></label>
                <%= f.text_area :content,:required => true, rows: 6, class: "form-control"%>
              </div>
              <div class="form-group">
                <%= f.fields_for :images do |p|%>
                    <label for=""><b>Ảnh</b></label>
                    <%= p.file_field :picture, multiple: true, accept: "image/jpeg, image/gif, image/png, image/jpg" %>
                <% end %>
              </div>
              <div class="container-fluid">
                <div id="list-img" class="row">

                </div>
              </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
              <%= f.submit "Đánh giá", class: "btn btn-primary"%>
            </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<script>
    //    var geocoder = new google.maps.Geocoder();
    //    geocoder.geocode( { "address": "Số 84 Duy Tân Cầu Giấy, Hà Nội" }, function(results, status) {
    //        if (status == google.maps.GeocoderStatus.OK && results.length > 0) {
    //            var location = results[0].geometry.location,
    //                lat      = location.lat(),
    //                lng      = location.lng();
    //            return location;
    //        }
    //    });
    //
    //
    //    function initialize() {
    //        var hanoi = {lat: 21.017030, lng: 105.783902};
    //        var myCoords = new google.maps.LatLng(21.017030, 105.783902);
    //        var mapOptions = {
    //            center: myCoords,
    //            zoom: 14
    //        };
    //        var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
    //        var marker = new google.maps.Marker({
    //            position: myCoords,
    //            map: map
    //        });
    //    }
    //    google.maps.event.addDomListener(window, 'load', initialize);
    function initMap() {
        var map = new google.maps.Map(document.getElementById('map-restaurant'), {
            zoom: 14,
            center: {lat: -34.397, lng: 150.644}
        });
        var geocoder = new google.maps.Geocoder();

        google.maps.event.addDomListener(window, 'load', geocodeAddress(geocoder, map));
    }

    function geocodeAddress(geocoder, resultsMap) {
        geocoder.geocode({'address': "<%= @address %>"}, function(results, status) {
            if (status === 'OK') {
                resultsMap.setCenter(results[0].geometry.location);
                var marker = new google.maps.Marker({
                    map: resultsMap,
                    position: results[0].geometry.location
                });
            } else {
                alert('Geocode was not successful for the following reason: ' + status);
            }
        });
    }
</script>


<script src="//maps.google.com/maps/api/js?v=3.27&key=AIzaSyA2Zb2vY8-t_9BUYqFFjc9LQiNWUZPLft4&callback=initMap"></script>
