<section class="light-bg booking-details_wrap">
  <div class="container">
    <div class="row bg-white descriptions">
      <div class="col-sm-5 p-0">
        <img src="<%= @restaurant.picture.url if @restaurant.picture? %>" class="img-fluid" alt="#">
      </div>
      <div class="detail col-sm-7 pl-5 pt-4">
        <h1><%= @restaurant.name %></h1>
        <div class="category-items row col-12">
          <a href="#"><%= @restaurant.category.name %></a>
        </div>
        <div class="res-rate row col-12">
          <p>
            <% (1..5).each do |number| %>
                <% star = @restaurant.number_star >= number ? 'fa-star' : 'fa-star-o'%>
                <i class="fa fa-2x <%= star %>"></i>
            <% end %>
          </p>
        </div>
        <div class="row col-12 res-address">
          <span class="fa fa-location-arrow pr-1"></span>
          <span><%= @restaurant.address + ", " + @restaurant.area.district %></span>
        </div>
        <div class="row col-12 res-address pt-1">
          <span class="fa fa-clock-o pr-1"></span>
          <span><%= @restaurant.open_time %></span>
        </div>
        <div class="row col-12 res-address pt-1">
          <span class="fa fa-phone pr-1"></span>
          <span><%= @restaurant.phone %></span>
        </div>
      </div>
    </div>
  </div>
  <div class="container pt-3">
    <div class="row fd-list mb-4">
      <div class="col-sm-12 re-header p-2">
        <div class="row">
          <div class="col-sm-6 re-title">
            <b>Menu</b>
          </div>
          <div class="col-sm-6"></div>
        </div>
      </div>
      <% @restaurant.foods.each do |food| %>
          <div class="col-6">
            <div class="row fd-item">
              <div class="col-4 p-0 fd-item-1">
                <img src="<%= food.picture.url if food.picture? %>" class="img-fluid img-food" alt="#">
              </div>
              <div class="col-8 fd-detail fd-item-1">
                <p><%= food.name %></p>
                <p><%= number_to_currency(food.price, unit: "VND", format: "%n %u", precision: 0) %></p>
              </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-8 list-reviews">
        <%if @reviews.blank? %>
        <div class="col-12 mt-3" style="text-align: center">
          <h6>Chưa có đánh giá nào</h6>
        </div>
        <% end %>
        <% @reviews.each do |review|%>
          <div class="row answer">
            <div class="col-12 pl-2 profile-u">
              <div class="review-user fd-clearbox">
                <div class="re-avatar">
                  <a href="#" class="ru-avatar">
                    <img src="<%= review.user.image.url if review.user.image? %>"/>
                  </a>
                </div>
              </div>
              <div class="user-prof">
                <div class="re-rate">
                  <p>
                    <% (1..5).each do |number| %>
                        <% star = review.evaluation.star.to_i >= number ? 'fa-star' : 'fa-star-o'%>
                        <i class="fa <%= star %>"></i>
                    <% end %>
                  </p>
                </div>
                <div class="ru-row">
                  <a href="#" class="ru-name">
                    <%= review.user.name %>
                  </a>
                </div>
                <div class="ru-stats">
                  <span><%= review.created_at.strftime("%d/%m/%Y")%></span>
                </div>
              </div>
            </div>
            <div class="re-des fd-clearbox">
              <div class="re-detail-des">
              <span>
               <%= review.content %>
              </span>
              </div>
            </div>
            <div class="col-12">
              <% review.images.each do |file|%>
                  <div class="re-photo">
                    <div class="item-photo">
                      <img src="<%= file.picture.url if file.picture? %>" alt="">
                    </div>
                  </div>
              <% end %>
            </div>
            <div class="col-12 pt-3">
              <div class="review-comment fd-clearbox">
                <% unless current_user %>
                  <div class="fc-toolbar">
                    <div class="icon-comment">
                      <a href="#">
                        <i class="fa fa-comment"></i>
                        Thảo luận
                      </a>
                    </div>
                  </div>
                <% end %>

                <div class="fc-comment">
                  <div id="comments_<%= review.id %>">
                    <% review.comments.each do |comment| %>
                        <div class="fdi-comm">
                          <img src="<%= @restaurant.picture.url  %>" alt="">
                          <div class="fdi-comm-right">
                            <a href="#" class="fc-username"><b><%= comment.user.name %></b></a>
                            <span><%= comment.content %></span>
                          </div>
                        </div>
                        <hr>
                    <% end %>
                  </div>
                  <% if current_user %>
                    <div class="rv-items">
                      <a href="#" class="form-cmm">
                        <img src="<%= current_user.image.url if current_user.image? %>" alt="">
                      </a>
                      <div class="fc-input">
                        <textarea class="form-control comment" rows="1"
                                  data-review="<%= review.id %>" data-url="<%= comments_path %>"></textarea>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>

        <% end %>
      </div>
      <div class="stats col-4">
        <div class="foody-toolbar">
          <div class="microsite-sumary-new" style="top: 0">
            <div class="microsite-box-rating-new">
              <div class="ratings-boxes">
                <div class="summary">
                  <b><%= @restaurant.reviews.size %></b> bình luận
                </div>
                <div class="ratings">
                  <p>
                    <% (1..5).each do |number| %>
                        <% star = @restaurant.number_star >= number ? 'fa-star' : 'fa-star-o'%>
                        <i class="fa <%= star %>"></i>
                    <% end %>
                  </p>
                </div>
              </div>
              <div class="ratings-boxes-review">
                <a href="#" data-toggle="modal" data-target="#myModal">Viết bình luận</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h6 class="modal-title">Bình luận</h6>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <%= form_for(@review, url: reviews_path, html: {method: 'post'}) do |f|%>
          <%= hidden_field_tag :url, request.original_url %>
          <%= f.hidden_field :restaurant_id, value: @restaurant.id %>
        <div class="modal-body">
            <div class="vote-star">
              <p>
                <% (1..5).each do |number| %>
                  <i id="star_<%= number %>" class="fa fa-star-o fa-2x vote"></i>
                <% end %>
              </p>
              <%= hidden_field_tag 'rate', '' %>
            </div>
            <div class="form-group">
              <label for="exampleFormControlTextarea1"><b>Nội dung đánh giá</b></label>
              <%= f.text_area :content,:required => true, rows: 6, class: "form-control"%>
            </div>
            <div class="form-group">
              <%= f.fields_for :images do |p|%>
                  <label for=""><b>Ảnh</b></label>
                  <%= p.file_field :picture, multiple: true, accept: "image/jpeg, image/gif, image/png, image/jpg" %>
              <% end %>
            </div>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
          <%= f.submit "Đánh giá", class: "btn btn-primary"%>
        </div>
      <% end %>
    </div>
  </div>
</div>